<?xml version="1.0" encoding="utf-8"?>
<SnippetDefinition xmlns="http://www.br-automation.com/iat2014/snippet/runtime/v1">
  <Snippet id="SfMP148_snippetLabel_SnippetSafeOSState" type="String" formatItem="{=$BR/IAT/mappSafety/SfMP137_SafeOSState.{1}}" />
  <Snippet id="SfMP148_snippetLabel_SnippetAttentionMsgHeader" type="String" formatItem="{=$BR/IAT/mappSafety/SfMP137_AttentionMsgHeader.{1}}" />
  <Snippet id="SfMP148_snippetLabel_SnippetTransferDialogMsg" type="String" formatItem="{=$BR/IAT/mappSafety/SfMP137_TransferDialogMsg.{1}}" />
  <Snippet id="SfMP148_snippetLabel_SnippetInfoTextHeader" type="String" formatItem="{=$BR/IAT/mappSafety/SfMP137_InfoTxtHeader.{1}}" />
  <Snippet id="SfMP148_snippetLabel_SnippetButtonTextAckSN_FW" type="String" formatItem="{=$BR/IAT/mappSafety/SfMP137_TxtButtonAckSN_FW.{1}}" />
  <Snippet id="SfMP148_snippetLabel_SnippetErrorMsgDialog" type="String" formatItem="{=$BR/IAT/mappSafety/SfMP137_txtMainErrorDialogMsg.{1}}" />
  <Snippet id="SfMP148_snippetLabel_SnippetOptionNotInUse" type="String" formatItem="{=$BR/IAT/mappSafety/SfMP137_txtAckSafeOptDialogNotInUse.{1}}" />
</SnippetDefinition>