#SfMP171_contentAckOPPara_SfMP171_labelAckOPParaFileName {
  top: 10px;
  position: absolute;
}

#SfMP171_contentAckOPPara_SfMP171_labelAckOPParaFileName {
  left: 20px;
  position: absolute;
}

#SfMP171_contentAckOPPara_SfMP171_labelAckOPParaFileName {
  width: 45px;
}

#SfMP171_contentAckOPPara_SfMP171_labelAckOPParaFileName {
  height: 20px;
}

#SfMP171_contentAckOPPara_SfMP171_labelAckOPParaFileName {
  z-index: 0;
}

#SfMP171_contentAckOPPara_SfMP171_labelAckOPParaFileName {
  justify-content: flex-start;
  text-align: left;
  -ms-flex-align: start;
  align-items: flex-start;
}

#SfMP171_contentAckOPPara_SfMP171_labelAckOPParaFileName {
  font-size: 14px;
}

#SfMP171_contentAckOPPara_SfMP171_labelAckOPParaFileName {
  font-weight: bold;
}

#SfMP171_contentAckOPPara_SfMP171_labelAckOPParaFileName span {
  text-decoration: underline;
}

#SfMP171_contentAckOPPara_SfMP171_labelAckOPParaFileName span {
  padding: 0px;
}

#SfMP171_contentAckOPPara_SfMP171_labelAckOPParaDescription {
  top: 40px;
  position: absolute;
}

#SfMP171_contentAckOPPara_SfMP171_labelAckOPParaDescription {
  left: 20px;
  position: absolute;
}

#SfMP171_contentAckOPPara_SfMP171_labelAckOPParaDescription {
  width: 120px;
}

#SfMP171_contentAckOPPara_SfMP171_labelAckOPParaDescription {
  height: 20px;
}

#SfMP171_contentAckOPPara_SfMP171_labelAckOPParaDescription {
  z-index: 1;
}

#SfMP171_contentAckOPPara_SfMP171_labelAckOPParaDescription {
  justify-content: flex-start;
  text-align: left;
  -ms-flex-align: start;
  align-items: flex-start;
}

#SfMP171_contentAckOPPara_SfMP171_labelAckOPParaDescription {
  font-size: 14px;
}

#SfMP171_contentAckOPPara_SfMP171_labelAckOPParaDescription {
  font-weight: bold;
}

#SfMP171_contentAckOPPara_SfMP171_labelAckOPParaDescription span {
  text-decoration: underline;
}

#SfMP171_contentAckOPPara_SfMP171_labelAckOPParaDescription span {
  padding: 0px;
}

#SfMP171_contentAckOPPara_SfMP171_TableAckOPPara {
  top: 155px;
  position: absolute;
}

#SfMP171_contentAckOPPara_SfMP171_TableAckOPPara {
  left: 15px;
  position: absolute;
}

#SfMP171_contentAckOPPara_SfMP171_TableAckOPPara {
  width: 385px;
}

#SfMP171_contentAckOPPara_SfMP171_TableAckOPPara {
  height: 205px;
}

#SfMP171_contentAckOPPara_SfMP171_TableAckOPPara {
  z-index: 2;
}

#SfMP171_contentAckOPPara_SfMP171_TableAckOPPara .tableCells tbody tr td:not(.override) {
  font-size: 12px;
}

#SfMP171_contentAckOPPara_SfMP171_TableItemAckSOP_Element_Name {
  z-index: 0;
}

#SfMP171_contentAckOPPara_SfMP171_TableItemAckSOP_Element_Name:not(.headerElement):not(.disabled).override {
  font-size: 12px;
}

#SfMP171_contentAckOPPara_SfMP171_TableItemAckSOP_Element_Name:not(.headerElement).override.disabled {
  font-size: 12px;
}

#SfMP171_contentAckOPPara_SfMP171_TableItemAckSOP_Element_Type {
  z-index: 1;
}

#SfMP171_contentAckOPPara_SfMP171_TableItemAckSOP_Element_Type:not(.headerElement):not(.disabled).override {
  font-size: 12px;
}

#SfMP171_contentAckOPPara_SfMP171_TableItemAckSOP_Element_Type:not(.headerElement).override.disabled {
  font-size: 12px;
}

#SfMP171_contentAckOPPara_SfMP171_TableItemAckSOP_Element_Value {
  z-index: 2;
}

#SfMP171_contentAckOPPara_SfMP171_TableItemAckSOP_Element_Value:not(.headerElement):not(.disabled).override {
  font-size: 12px;
}

#SfMP171_contentAckOPPara_SfMP171_TableItemAckSOP_Element_Value:not(.headerElement).override.disabled {
  font-size: 12px;
}

#SfMP171_contentAckOPPara_SfMP171_TableItemAckSOP_Element_Description {
  z-index: 3;
}

#SfMP171_contentAckOPPara_SfMP171_TableItemAckSOP_Element_Description:not(.headerElement):not(.disabled).override {
  font-size: 12px;
}

#SfMP171_contentAckOPPara_SfMP171_TableItemAckSOP_Element_Description:not(.headerElement).override.disabled {
  font-size: 12px;
}

#SfMP171_contentAckOPPara_SfMP171_TableItemAckSOP_Element_AcknStatus {
  z-index: 4;
}

#SfMP171_contentAckOPPara_SfMP171_TableItemAckSOP_Element_AcknStatus:not(.headerElement):not(.disabled).override {
  font-size: 12px;
}

#SfMP171_contentAckOPPara_SfMP171_TableItemAckSOP_Element_AcknStatus:not(.headerElement).override.disabled {
  font-size: 12px;
}

#SfMP171_contentAckOPPara_SfMP171_btnBarGroupAckOPPara {
  top: 120px;
  position: absolute;
}

#SfMP171_contentAckOPPara_SfMP171_btnBarGroupAckOPPara {
  left: 15px;
  position: absolute;
}

#SfMP171_contentAckOPPara_SfMP171_btnBarGroupAckOPPara {
  width: 385px;
}

#SfMP171_contentAckOPPara_SfMP171_btnBarGroupAckOPPara {
  height: 42px;
}

#SfMP171_contentAckOPPara_SfMP171_btnBarGroupAckOPPara {
  z-index: 3;
}

#SfMP171_contentAckOPPara_SfMP171_btnAckOPParaGroup_1 {
  height: 30px;
}

#SfMP171_contentAckOPPara_SfMP171_btnAckOPParaGroup_1 {
  top: 0px;
  position: absolute;
}

#SfMP171_contentAckOPPara_SfMP171_btnAckOPParaGroup_1 {
  left: 1px;
  position: absolute;
}

#SfMP171_contentAckOPPara_SfMP171_btnAckOPParaGroup_1 {
  width: 120px;
}

#SfMP171_contentAckOPPara_SfMP171_btnAckOPParaGroup_1 {
  z-index: 0;
}

#SfMP171_contentAckOPPara_SfMP171_btnAckOPParaGroup_1 span {
  font-size: 12px;
}

#SfMP171_contentAckOPPara_SfMP171_btnAckOPParaGroup_1 {
  padding: 3px 3px;
}

#SfMP171_contentAckOPPara_SfMP171_btnAckOPParaGroup_2 {
  height: 30px;
}

#SfMP171_contentAckOPPara_SfMP171_btnAckOPParaGroup_2 {
  top: 0px;
  position: absolute;
}

#SfMP171_contentAckOPPara_SfMP171_btnAckOPParaGroup_2 {
  left: 1px;
  position: absolute;
}

#SfMP171_contentAckOPPara_SfMP171_btnAckOPParaGroup_2 {
  width: 120px;
}

#SfMP171_contentAckOPPara_SfMP171_btnAckOPParaGroup_2 {
  z-index: 1;
}

#SfMP171_contentAckOPPara_SfMP171_btnAckOPParaGroup_2 span {
  font-size: 12px;
}

#SfMP171_contentAckOPPara_SfMP171_btnAckOPParaGroup_2 {
  padding: 3px 3px;
}

#SfMP171_contentAckOPPara_SfMP171_btnAckOPParaGroup_3 {
  height: 30px;
}

#SfMP171_contentAckOPPara_SfMP171_btnAckOPParaGroup_3 {
  top: 0px;
  position: absolute;
}

#SfMP171_contentAckOPPara_SfMP171_btnAckOPParaGroup_3 {
  left: 1px;
  position: absolute;
}

#SfMP171_contentAckOPPara_SfMP171_btnAckOPParaGroup_3 {
  width: 120px;
}

#SfMP171_contentAckOPPara_SfMP171_btnAckOPParaGroup_3 {
  z-index: 2;
}

#SfMP171_contentAckOPPara_SfMP171_btnAckOPParaGroup_3 span {
  font-size: 12px;
}

#SfMP171_contentAckOPPara_SfMP171_btnAckOPParaGroup_3 {
  padding: 3px 3px;
}

#SfMP171_contentAckOPPara_SfMP171_btnAckOPParaGroup_4 {
  height: 30px;
}

#SfMP171_contentAckOPPara_SfMP171_btnAckOPParaGroup_4 {
  top: 0px;
  position: absolute;
}

#SfMP171_contentAckOPPara_SfMP171_btnAckOPParaGroup_4 {
  left: 1px;
  position: absolute;
}

#SfMP171_contentAckOPPara_SfMP171_btnAckOPParaGroup_4 {
  width: 120px;
}

#SfMP171_contentAckOPPara_SfMP171_btnAckOPParaGroup_4 {
  z-index: 3;
}

#SfMP171_contentAckOPPara_SfMP171_btnAckOPParaGroup_4 span {
  font-size: 12px;
}

#SfMP171_contentAckOPPara_SfMP171_btnAckOPParaGroup_4 {
  padding: 3px 3px;
}

#SfMP171_contentAckOPPara_SfMP171_btnAckOPParaGroup_5 {
  height: 30px;
}

#SfMP171_contentAckOPPara_SfMP171_btnAckOPParaGroup_5 {
  top: 0px;
  position: absolute;
}

#SfMP171_contentAckOPPara_SfMP171_btnAckOPParaGroup_5 {
  left: 1px;
  position: absolute;
}

#SfMP171_contentAckOPPara_SfMP171_btnAckOPParaGroup_5 {
  width: 120px;
}

#SfMP171_contentAckOPPara_SfMP171_btnAckOPParaGroup_5 {
  z-index: 4;
}

#SfMP171_contentAckOPPara_SfMP171_btnAckOPParaGroup_5 span {
  font-size: 12px;
}

#SfMP171_contentAckOPPara_SfMP171_btnAckOPParaGroup_5 {
  padding: 3px 3px;
}

#SfMP171_contentAckOPPara_SfMP171_btnAckOPParaGroup_6 {
  height: 30px;
}

#SfMP171_contentAckOPPara_SfMP171_btnAckOPParaGroup_6 {
  top: 0px;
  position: absolute;
}

#SfMP171_contentAckOPPara_SfMP171_btnAckOPParaGroup_6 {
  left: 1px;
  position: absolute;
}

#SfMP171_contentAckOPPara_SfMP171_btnAckOPParaGroup_6 {
  width: 120px;
}

#SfMP171_contentAckOPPara_SfMP171_btnAckOPParaGroup_6 {
  z-index: 5;
}

#SfMP171_contentAckOPPara_SfMP171_btnAckOPParaGroup_6 span {
  font-size: 12px;
}

#SfMP171_contentAckOPPara_SfMP171_btnAckOPParaGroup_6 {
  padding: 3px 3px;
}

#SfMP171_contentAckOPPara_SfMP171_btnAckOPParaGroup_7 {
  height: 30px;
}

#SfMP171_contentAckOPPara_SfMP171_btnAckOPParaGroup_7 {
  top: 0px;
  position: absolute;
}

#SfMP171_contentAckOPPara_SfMP171_btnAckOPParaGroup_7 {
  left: 1px;
  position: absolute;
}

#SfMP171_contentAckOPPara_SfMP171_btnAckOPParaGroup_7 {
  width: 120px;
}

#SfMP171_contentAckOPPara_SfMP171_btnAckOPParaGroup_7 {
  z-index: 6;
}

#SfMP171_contentAckOPPara_SfMP171_btnAckOPParaGroup_7 span {
  font-size: 12px;
}

#SfMP171_contentAckOPPara_SfMP171_btnAckOPParaGroup_7 {
  padding: 3px 3px;
}

#SfMP171_contentAckOPPara_SfMP171_btnAckOPParaGroup_8 {
  height: 30px;
}

#SfMP171_contentAckOPPara_SfMP171_btnAckOPParaGroup_8 {
  top: 0px;
  position: absolute;
}

#SfMP171_contentAckOPPara_SfMP171_btnAckOPParaGroup_8 {
  left: 1px;
  position: absolute;
}

#SfMP171_contentAckOPPara_SfMP171_btnAckOPParaGroup_8 {
  width: 120px;
}

#SfMP171_contentAckOPPara_SfMP171_btnAckOPParaGroup_8 {
  z-index: 7;
}

#SfMP171_contentAckOPPara_SfMP171_btnAckOPParaGroup_8 span {
  font-size: 12px;
}

#SfMP171_contentAckOPPara_SfMP171_btnAckOPParaGroup_8 {
  padding: 3px 3px;
}

#SfMP171_contentAckOPPara_SfMP171_btnAckOPParaGroup_9 {
  height: 30px;
}

#SfMP171_contentAckOPPara_SfMP171_btnAckOPParaGroup_9 {
  top: 0px;
  position: absolute;
}

#SfMP171_contentAckOPPara_SfMP171_btnAckOPParaGroup_9 {
  left: 1px;
  position: absolute;
}

#SfMP171_contentAckOPPara_SfMP171_btnAckOPParaGroup_9 {
  width: 120px;
}

#SfMP171_contentAckOPPara_SfMP171_btnAckOPParaGroup_9 {
  z-index: 8;
}

#SfMP171_contentAckOPPara_SfMP171_btnAckOPParaGroup_9 span {
  font-size: 12px;
}

#SfMP171_contentAckOPPara_SfMP171_btnAckOPParaGroup_9 {
  padding: 3px 3px;
}

#SfMP171_contentAckOPPara_SfMP171_btnAckOPParaGroup_10 {
  height: 30px;
}

#SfMP171_contentAckOPPara_SfMP171_btnAckOPParaGroup_10 {
  top: 0px;
  position: absolute;
}

#SfMP171_contentAckOPPara_SfMP171_btnAckOPParaGroup_10 {
  left: 1px;
  position: absolute;
}

#SfMP171_contentAckOPPara_SfMP171_btnAckOPParaGroup_10 {
  width: 120px;
}

#SfMP171_contentAckOPPara_SfMP171_btnAckOPParaGroup_10 {
  z-index: 9;
}

#SfMP171_contentAckOPPara_SfMP171_btnAckOPParaGroup_10 span {
  font-size: 12px;
}

#SfMP171_contentAckOPPara_SfMP171_btnAckOPParaGroup_10 {
  padding: 3px 3px;
}

#SfMP171_contentAckOPPara_SfMP171_txtAckOPParaFileName {
  top: 10px;
  position: absolute;
}

#SfMP171_contentAckOPPara_SfMP171_txtAckOPParaFileName {
  left: 80px;
  position: absolute;
}

#SfMP171_contentAckOPPara_SfMP171_txtAckOPParaFileName {
  width: 320px;
}

#SfMP171_contentAckOPPara_SfMP171_txtAckOPParaFileName {
  height: 25px;
}

#SfMP171_contentAckOPPara_SfMP171_txtAckOPParaFileName {
  z-index: 4;
}

#SfMP171_contentAckOPPara_SfMP171_txtAckOPParaFileName {
  justify-content: flex-start;
  text-align: left;
  -ms-flex-align: start;
  align-items: flex-start;
}

#SfMP171_contentAckOPPara_SfMP171_txtAckOPParaFileName {
  font-size: 14px;
}

#SfMP171_contentAckOPPara_SfMP171_txtAckOPParaFileName {
  font-weight: normal;
}

#SfMP171_contentAckOPPara_SfMP171_txtAckOPParaFileName span {
  padding: 0px;
}

#SfMP171_contentAckOPPara_SfMP171_txtAckOPParaDescription {
  top: 40px;
  position: absolute;
}

#SfMP171_contentAckOPPara_SfMP171_txtAckOPParaDescription {
  left: 120px;
  position: absolute;
}

#SfMP171_contentAckOPPara_SfMP171_txtAckOPParaDescription {
  width: 280px;
}

#SfMP171_contentAckOPPara_SfMP171_txtAckOPParaDescription {
  height: 40px;
}

#SfMP171_contentAckOPPara_SfMP171_txtAckOPParaDescription {
  z-index: 5;
}

#SfMP171_contentAckOPPara_SfMP171_txtAckOPParaDescription {
  justify-content: flex-start;
  text-align: left;
  -ms-flex-align: start;
  align-items: flex-start;
}

#SfMP171_contentAckOPPara_SfMP171_txtAckOPParaDescription {
  font-size: 14px;
}

#SfMP171_contentAckOPPara_SfMP171_txtAckOPParaDescription {
  font-weight: normal;
}

#SfMP171_contentAckOPPara_SfMP171_txtAckOPParaDescription span {
  padding: 0px;
}

#SfMP171_contentAckOPPara_SfMP171_btnAckOPPara {
  height: 30px;
}

#SfMP171_contentAckOPPara_SfMP171_btnAckOPPara {
  top: 380px;
  position: absolute;
}

#SfMP171_contentAckOPPara_SfMP171_btnAckOPPara {
  left: 15px;
  position: absolute;
}

#SfMP171_contentAckOPPara_SfMP171_btnAckOPPara {
  width: 160px;
}

#SfMP171_contentAckOPPara_SfMP171_btnAckOPPara {
  z-index: 6;
}

#SfMP171_contentAckOPPara_SfMP171_btnCancelAckOPPara {
  height: 30px;
}

#SfMP171_contentAckOPPara_SfMP171_btnCancelAckOPPara {
  top: 380px;
  position: absolute;
}

#SfMP171_contentAckOPPara_SfMP171_btnCancelAckOPPara {
  left: 270px;
  position: absolute;
}

#SfMP171_contentAckOPPara_SfMP171_btnCancelAckOPPara {
  width: 130px;
}

#SfMP171_contentAckOPPara_SfMP171_btnCancelAckOPPara {
  z-index: 7;
}

#SfMP171_contentAckOPPara_SfMP171_checkBoxAckOPParaShowNotAck {
  top: 80px;
  position: absolute;
}

#SfMP171_contentAckOPPara_SfMP171_checkBoxAckOPParaShowNotAck {
  left: 20px;
  position: absolute;
}

#SfMP171_contentAckOPPara_SfMP171_checkBoxAckOPParaShowNotAck {
  width: 340px;
}

#SfMP171_contentAckOPPara_SfMP171_checkBoxAckOPParaShowNotAck {
  height: 25px;
}

#SfMP171_contentAckOPPara_SfMP171_checkBoxAckOPParaShowNotAck {
  z-index: 8;
}

#SfMP171_contentAckOPPara_SfMP171_checkBoxAckOPParaShowNotAck span {
  font-size: 14px;
}

#SfMP171_contentAckOPPara_SfMP171_checkBoxAckOPParaShowNotAck span {
  font-style: italic;
}
