#SfMP171_ContentNavLand_SfMP171_NavbtnConnectionPage {
  top: 40px;
  position: absolute;
}

#SfMP171_ContentNavLand_SfMP171_NavbtnConnectionPage {
  left: 20px;
  position: absolute;
}

#SfMP171_ContentNavLand_SfMP171_NavbtnConnectionPage {
  width: 280px;
}

#SfMP171_ContentNavLand_SfMP171_NavbtnConnectionPage {
  height: 65px;
}

#SfMP171_ContentNavLand_SfMP171_NavbtnConnectionPage {
  z-index: 0;
}

#SfMP171_ContentNavLand_SfMP171_NavbtnConnectionPage span {
  font-weight: bold;
}

#SfMP171_ContentNavLand_SfMP171_NavbtnConnectionPage {
  padding: 0px 5px;
}

#SfMP171_ContentNavLand_SfMP171_NavbtnTransferPage {
  top: 120px;
  position: absolute;
}

#SfMP171_ContentNavLand_SfMP171_NavbtnTransferPage {
  left: 20px;
  position: absolute;
}

#SfMP171_ContentNavLand_SfMP171_NavbtnTransferPage {
  width: 280px;
}

#SfMP171_ContentNavLand_SfMP171_NavbtnTransferPage {
  height: 65px;
}

#SfMP171_ContentNavLand_SfMP171_NavbtnTransferPage {
  z-index: 1;
}

#SfMP171_ContentNavLand_SfMP171_NavbtnTransferPage span {
  font-weight: bold;
}

#SfMP171_ContentNavLand_SfMP171_NavbtnTransferPage {
  padding: 0px 5px;
}

#SfMP171_ContentNavLand_SfMP171_NavbtnCompletionPage {
  top: 200px;
  position: absolute;
}

#SfMP171_ContentNavLand_SfMP171_NavbtnCompletionPage {
  left: 20px;
  position: absolute;
}

#SfMP171_ContentNavLand_SfMP171_NavbtnCompletionPage {
  width: 280px;
}

#SfMP171_ContentNavLand_SfMP171_NavbtnCompletionPage {
  height: 65px;
}

#SfMP171_ContentNavLand_SfMP171_NavbtnCompletionPage {
  z-index: 2;
}

#SfMP171_ContentNavLand_SfMP171_NavbtnCompletionPage span {
  font-weight: bold;
}

#SfMP171_ContentNavLand_SfMP171_NavbtnCompletionPage {
  padding: 0px 5px;
}

#SfMP171_ContentNavLand_SfMP171_NavbtnExchangePage {
  top: 280px;
  position: absolute;
}

#SfMP171_ContentNavLand_SfMP171_NavbtnExchangePage {
  left: 20px;
  position: absolute;
}

#SfMP171_ContentNavLand_SfMP171_NavbtnExchangePage {
  width: 280px;
}

#SfMP171_ContentNavLand_SfMP171_NavbtnExchangePage {
  height: 65px;
}

#SfMP171_ContentNavLand_SfMP171_NavbtnExchangePage {
  z-index: 3;
}

#SfMP171_ContentNavLand_SfMP171_NavbtnExchangePage span {
  font-weight: bold;
}

#SfMP171_ContentNavLand_SfMP171_NavbtnExchangePage {
  padding: 0px 5px;
}
