#SfMP171_ContentModuleXCHG_SfMP171_btnNewSNAckn {
  height: 30px;
}

#SfMP171_ContentModuleXCHG_SfMP171_btnNewSNAckn {
  top: 420px;
  position: absolute;
}

#SfMP171_ContentModuleXCHG_SfMP171_btnNewSNAckn {
  left: 60px;
  position: absolute;
}

#SfMP171_ContentModuleXCHG_SfMP171_btnNewSNAckn {
  width: 360px;
}

#SfMP171_ContentModuleXCHG_SfMP171_btnNewSNAckn {
  z-index: 0;
}

#SfMP171_ContentModuleXCHG_SfMP171_tstExchangeNrSN {
  height: 30px;
}

#SfMP171_ContentModuleXCHG_SfMP171_tstExchangeNrSN {
  top: 140px;
  position: absolute;
}

#SfMP171_ContentModuleXCHG_SfMP171_tstExchangeNrSN {
  left: 40px;
  position: absolute;
}

#SfMP171_ContentModuleXCHG_SfMP171_tstExchangeNrSN {
  width: 360px;
}

#SfMP171_ContentModuleXCHG_SfMP171_tstExchangeNrSN {
  z-index: 1;
}

#SfMP171_ContentModuleXCHG_SfMP171_tstExchangeNrSN {
  background-image: linear-gradient(45deg, rgba(226,226,226,1) 0%,rgba(219,219,219,1) 50%,rgba(209,209,209,1) 51%,rgba(254,254,254,1) 100%);
}

#SfMP171_ContentModuleXCHG_SfMP171_txtExchangeNrUDIDMiss {
  height: 30px;
}

#SfMP171_ContentModuleXCHG_SfMP171_txtExchangeNrUDIDMiss {
  top: 180px;
  position: absolute;
}

#SfMP171_ContentModuleXCHG_SfMP171_txtExchangeNrUDIDMiss {
  left: 40px;
  position: absolute;
}

#SfMP171_ContentModuleXCHG_SfMP171_txtExchangeNrUDIDMiss {
  width: 360px;
}

#SfMP171_ContentModuleXCHG_SfMP171_txtExchangeNrUDIDMiss {
  z-index: 2;
}

#SfMP171_ContentModuleXCHG_SfMP171_txtExchangeNrUDIDMiss {
  background-image: linear-gradient(45deg, rgba(226,226,226,1) 0%,rgba(219,219,219,1) 50%,rgba(209,209,209,1) 51%,rgba(254,254,254,1) 100%);
}

#SfMP171_ContentModuleXCHG_SfMP171_txtExchangeNrFWMiss {
  height: 30px;
}

#SfMP171_ContentModuleXCHG_SfMP171_txtExchangeNrFWMiss {
  top: 220px;
  position: absolute;
}

#SfMP171_ContentModuleXCHG_SfMP171_txtExchangeNrFWMiss {
  left: 40px;
  position: absolute;
}

#SfMP171_ContentModuleXCHG_SfMP171_txtExchangeNrFWMiss {
  width: 360px;
}

#SfMP171_ContentModuleXCHG_SfMP171_txtExchangeNrFWMiss {
  z-index: 3;
}

#SfMP171_ContentModuleXCHG_SfMP171_txtExchangeNrFWMiss {
  background-image: linear-gradient(45deg, rgba(226,226,226,1) 0%,rgba(219,219,219,1) 50%,rgba(209,209,209,1) 51%,rgba(254,254,254,1) 100%);
}

#SfMP171_ContentModuleXCHG_SfMP171_numericOutExchangeUDID {
  height: 30px;
}

#SfMP171_ContentModuleXCHG_SfMP171_numericOutExchangeUDID {
  top: 180px;
  position: absolute;
}

#SfMP171_ContentModuleXCHG_SfMP171_numericOutExchangeUDID {
  left: 300px;
  position: absolute;
}

#SfMP171_ContentModuleXCHG_SfMP171_numericOutExchangeUDID {
  width: 80px;
}

#SfMP171_ContentModuleXCHG_SfMP171_numericOutExchangeUDID {
  z-index: 4;
}

#SfMP171_ContentModuleXCHG_SfMP171_numericOutExchangeUDID input {
  color: red;
}

#SfMP171_ContentModuleXCHG_SfMP171_numericOutExchangeUDID span.breaseNumericOutput_unit {
  color: red;
}

#SfMP171_ContentModuleXCHG_SfMP171_numericOutExchangeFW {
  height: 30px;
}

#SfMP171_ContentModuleXCHG_SfMP171_numericOutExchangeFW {
  top: 220px;
  position: absolute;
}

#SfMP171_ContentModuleXCHG_SfMP171_numericOutExchangeFW {
  left: 300px;
  position: absolute;
}

#SfMP171_ContentModuleXCHG_SfMP171_numericOutExchangeFW {
  width: 80px;
}

#SfMP171_ContentModuleXCHG_SfMP171_numericOutExchangeFW {
  z-index: 5;
}

#SfMP171_ContentModuleXCHG_SfMP171_numericOutExchangeFW input {
  color: red;
}

#SfMP171_ContentModuleXCHG_SfMP171_numericOutExchangeFW span.breaseNumericOutput_unit {
  color: red;
}

#SfMP171_ContentModuleXCHG_SfMP171_numericOutExchangeNrSN {
  height: 30px;
}

#SfMP171_ContentModuleXCHG_SfMP171_numericOutExchangeNrSN {
  top: 140px;
  position: absolute;
}

#SfMP171_ContentModuleXCHG_SfMP171_numericOutExchangeNrSN {
  left: 300px;
  position: absolute;
}

#SfMP171_ContentModuleXCHG_SfMP171_numericOutExchangeNrSN {
  width: 80px;
}

#SfMP171_ContentModuleXCHG_SfMP171_numericOutExchangeNrSN {
  z-index: 6;
}
