#SfMP171_ContentSetupMode_SfMP171_btnAcknOPPara {
  top: 260px;
  position: absolute;
}

#SfMP171_ContentSetupMode_SfMP171_btnAcknOPPara {
  left: 63px;
  position: absolute;
}

#SfMP171_ContentSetupMode_SfMP171_btnAcknOPPara {
  width: 355px;
}

#SfMP171_ContentSetupMode_SfMP171_btnAcknOPPara {
  height: 45px;
}

#SfMP171_ContentSetupMode_SfMP171_btnAcknOPPara {
  z-index: 0;
}

#SfMP171_ContentSetupMode_SfMP171_btnAcknOPPara {
  padding: 5px;
}

#SfMP171_ContentSetupMode_SfMP171_btnAcknAppl {
  top: 140px;
  position: absolute;
}

#SfMP171_ContentSetupMode_SfMP171_btnAcknAppl {
  left: 63px;
  position: absolute;
}

#SfMP171_ContentSetupMode_SfMP171_btnAcknAppl {
  width: 355px;
}

#SfMP171_ContentSetupMode_SfMP171_btnAcknAppl {
  height: 45px;
}

#SfMP171_ContentSetupMode_SfMP171_btnAcknAppl {
  z-index: 1;
}

#SfMP171_ContentSetupMode_SfMP171_btnAcknAppl {
  padding: 5px;
}

#SfMP171_ContentSetupMode_SfMP171_btnSetupModeFinish {
  top: 380px;
  position: absolute;
}

#SfMP171_ContentSetupMode_SfMP171_btnSetupModeFinish {
  left: 63px;
  position: absolute;
}

#SfMP171_ContentSetupMode_SfMP171_btnSetupModeFinish {
  width: 355px;
}

#SfMP171_ContentSetupMode_SfMP171_btnSetupModeFinish {
  height: 45px;
}

#SfMP171_ContentSetupMode_SfMP171_btnSetupModeFinish {
  z-index: 2;
}

#SfMP171_ContentSetupMode_SfMP171_btnSetupModeFinish {
  padding: 5px;
}

#SfMP171_ContentSetupMode_SfMP171_btnAcknSN {
  top: 320px;
  position: absolute;
}

#SfMP171_ContentSetupMode_SfMP171_btnAcknSN {
  left: 63px;
  position: absolute;
}

#SfMP171_ContentSetupMode_SfMP171_btnAcknSN {
  width: 355px;
}

#SfMP171_ContentSetupMode_SfMP171_btnAcknSN {
  height: 45px;
}

#SfMP171_ContentSetupMode_SfMP171_btnAcknSN {
  z-index: 3;
}

#SfMP171_ContentSetupMode_SfMP171_btnAcknSN {
  padding: 5px;
}

#SfMP171_ContentSetupMode_SfMP171_btnAcknSafeCommOP {
  top: 200px;
  position: absolute;
}

#SfMP171_ContentSetupMode_SfMP171_btnAcknSafeCommOP {
  left: 63px;
  position: absolute;
}

#SfMP171_ContentSetupMode_SfMP171_btnAcknSafeCommOP {
  width: 355px;
}

#SfMP171_ContentSetupMode_SfMP171_btnAcknSafeCommOP {
  height: 45px;
}

#SfMP171_ContentSetupMode_SfMP171_btnAcknSafeCommOP {
  z-index: 4;
}

#SfMP171_ContentSetupMode_SfMP171_btnAcknSafeCommOP {
  padding: 5px;
}

#SfMP171_ContentSetupMode_SfMP171_CheckmarkAckSafeApp {
  top: 125px;
  position: absolute;
}

#SfMP171_ContentSetupMode_SfMP171_CheckmarkAckSafeApp {
  left: 400px;
  position: absolute;
}

#SfMP171_ContentSetupMode_SfMP171_CheckmarkAckSafeApp {
  width: 38px;
}

#SfMP171_ContentSetupMode_SfMP171_CheckmarkAckSafeApp {
  height: 38px;
}

#SfMP171_ContentSetupMode_SfMP171_CheckmarkAckSafeApp {
  z-index: 5;
}

#SfMP171_ContentSetupMode_SfMP171_CheckmarkAckSafeApp {
  border-width: 0px;
}

#SfMP171_ContentSetupMode_SfMP171_CheckmarkAckSafeOPT {
  top: 185px;
  position: absolute;
}

#SfMP171_ContentSetupMode_SfMP171_CheckmarkAckSafeOPT {
  left: 400px;
  position: absolute;
}

#SfMP171_ContentSetupMode_SfMP171_CheckmarkAckSafeOPT {
  width: 38px;
}

#SfMP171_ContentSetupMode_SfMP171_CheckmarkAckSafeOPT {
  height: 38px;
}

#SfMP171_ContentSetupMode_SfMP171_CheckmarkAckSafeOPT {
  z-index: 6;
}

#SfMP171_ContentSetupMode_SfMP171_CheckmarkAckSafeOPT {
  border-width: 0px;
}

#SfMP171_ContentSetupMode_SfMP171_CheckmarkAckSafeNode {
  top: 305px;
  position: absolute;
}

#SfMP171_ContentSetupMode_SfMP171_CheckmarkAckSafeNode {
  left: 400px;
  position: absolute;
}

#SfMP171_ContentSetupMode_SfMP171_CheckmarkAckSafeNode {
  width: 38px;
}

#SfMP171_ContentSetupMode_SfMP171_CheckmarkAckSafeNode {
  height: 38px;
}

#SfMP171_ContentSetupMode_SfMP171_CheckmarkAckSafeNode {
  z-index: 7;
}

#SfMP171_ContentSetupMode_SfMP171_CheckmarkAckSafeNode {
  border-width: 0px;
}

#SfMP171_ContentSetupMode_SfMP171_CheckmarkFinishSetup {
  top: 365px;
  position: absolute;
}

#SfMP171_ContentSetupMode_SfMP171_CheckmarkFinishSetup {
  left: 400px;
  position: absolute;
}

#SfMP171_ContentSetupMode_SfMP171_CheckmarkFinishSetup {
  width: 38px;
}

#SfMP171_ContentSetupMode_SfMP171_CheckmarkFinishSetup {
  height: 38px;
}

#SfMP171_ContentSetupMode_SfMP171_CheckmarkFinishSetup {
  z-index: 8;
}

#SfMP171_ContentSetupMode_SfMP171_CheckmarkFinishSetup {
  border-width: 0px;
}

#SfMP171_ContentSetupMode_SfMP171_CheckmarkAckSafeOPPara {
  top: 245px;
  position: absolute;
}

#SfMP171_ContentSetupMode_SfMP171_CheckmarkAckSafeOPPara {
  left: 400px;
  position: absolute;
}

#SfMP171_ContentSetupMode_SfMP171_CheckmarkAckSafeOPPara {
  width: 38px;
}

#SfMP171_ContentSetupMode_SfMP171_CheckmarkAckSafeOPPara {
  height: 38px;
}

#SfMP171_ContentSetupMode_SfMP171_CheckmarkAckSafeOPPara {
  z-index: 9;
}

#SfMP171_ContentSetupMode_SfMP171_CheckmarkAckSafeOPPara {
  border-width: 0px;
}
