#SfMP17_contentProcess_SfMP171_paperProcess {
  top: 65px;
  position: absolute;
}

#SfMP17_contentProcess_SfMP171_paperProcess {
  left: 200px;
  position: absolute;
}

#SfMP17_contentProcess_SfMP171_paperProcess {
  width: 70px;
}

#SfMP17_contentProcess_SfMP171_paperProcess {
  height: 70px;
}

#SfMP17_contentProcess_SfMP171_paperProcess {
  z-index: 0;
}

#SfMP17_contentProcess_SfMP171_paperProcess {
  border-style: none;
}
