@import "mixins.scss";
#SfMP171_ContentModuleXCHG_SfMP171_btnNewSNAckn {
	@include elemAutoHeight(30);
}
#SfMP171_ContentModuleXCHG_SfMP171_btnNewSNAckn {
	@include elemTop(420);
}
#SfMP171_ContentModuleXCHG_SfMP171_btnNewSNAckn {
	@include elemLeft(60);
}
#SfMP171_ContentModuleXCHG_SfMP171_btnNewSNAckn {
	@include elemAutoWidth(360);
}
#SfMP171_ContentModuleXCHG_SfMP171_btnNewSNAckn {
		z-index: 0;
}
#SfMP171_ContentModuleXCHG_SfMP171_tstExchangeNrSN {
	@include elemAutoHeight(30);
}
#SfMP171_ContentModuleXCHG_SfMP171_tstExchangeNrSN {
	@include elemTop(140);
}
#SfMP171_ContentModuleXCHG_SfMP171_tstExchangeNrSN {
	@include elemLeft(40);
}
#SfMP171_ContentModuleXCHG_SfMP171_tstExchangeNrSN {
	@include elemAutoWidth(360);
}
#SfMP171_ContentModuleXCHG_SfMP171_tstExchangeNrSN {
		z-index: 1;
}
#SfMP171_ContentModuleXCHG_SfMP171_tstExchangeNrSN {
	@include backGroundGradient('linear-gradient(45deg, rgba(226,226,226,1) 0%,rgba(219,219,219,1) 50%,rgba(209,209,209,1) 51%,rgba(254,254,254,1) 100%)');
}
#SfMP171_ContentModuleXCHG_SfMP171_txtExchangeNrUDIDMiss {
	@include elemAutoHeight(30);
}
#SfMP171_ContentModuleXCHG_SfMP171_txtExchangeNrUDIDMiss {
	@include elemTop(180);
}
#SfMP171_ContentModuleXCHG_SfMP171_txtExchangeNrUDIDMiss {
	@include elemLeft(40);
}
#SfMP171_ContentModuleXCHG_SfMP171_txtExchangeNrUDIDMiss {
	@include elemAutoWidth(360);
}
#SfMP171_ContentModuleXCHG_SfMP171_txtExchangeNrUDIDMiss {
		z-index: 2;
}
#SfMP171_ContentModuleXCHG_SfMP171_txtExchangeNrUDIDMiss {
	@include backGroundGradient('linear-gradient(45deg, rgba(226,226,226,1) 0%,rgba(219,219,219,1) 50%,rgba(209,209,209,1) 51%,rgba(254,254,254,1) 100%)');
}
#SfMP171_ContentModuleXCHG_SfMP171_txtExchangeNrFWMiss {
	@include elemAutoHeight(30);
}
#SfMP171_ContentModuleXCHG_SfMP171_txtExchangeNrFWMiss {
	@include elemTop(220);
}
#SfMP171_ContentModuleXCHG_SfMP171_txtExchangeNrFWMiss {
	@include elemLeft(40);
}
#SfMP171_ContentModuleXCHG_SfMP171_txtExchangeNrFWMiss {
	@include elemAutoWidth(360);
}
#SfMP171_ContentModuleXCHG_SfMP171_txtExchangeNrFWMiss {
		z-index: 3;
}
#SfMP171_ContentModuleXCHG_SfMP171_txtExchangeNrFWMiss {
	@include backGroundGradient('linear-gradient(45deg, rgba(226,226,226,1) 0%,rgba(219,219,219,1) 50%,rgba(209,209,209,1) 51%,rgba(254,254,254,1) 100%)');
}
#SfMP171_ContentModuleXCHG_SfMP171_numericOutExchangeUDID {
	@include elemAutoHeight(30);
}
#SfMP171_ContentModuleXCHG_SfMP171_numericOutExchangeUDID {
	@include elemTop(180);
}
#SfMP171_ContentModuleXCHG_SfMP171_numericOutExchangeUDID {
	@include elemLeft(300);
}
#SfMP171_ContentModuleXCHG_SfMP171_numericOutExchangeUDID {
	@include elemAutoWidth(80);
}
#SfMP171_ContentModuleXCHG_SfMP171_numericOutExchangeUDID {
		z-index: 4;
}
#SfMP171_ContentModuleXCHG_SfMP171_numericOutExchangeUDID {
	input{
		color: rgba(255, 0, 0, 1);
	}
}
#SfMP171_ContentModuleXCHG_SfMP171_numericOutExchangeUDID {
	span.breaseNumericOutput_unit{
		color: rgba(255, 0, 0, 1);
	}
}
#SfMP171_ContentModuleXCHG_SfMP171_numericOutExchangeFW {
	@include elemAutoHeight(30);
}
#SfMP171_ContentModuleXCHG_SfMP171_numericOutExchangeFW {
	@include elemTop(220);
}
#SfMP171_ContentModuleXCHG_SfMP171_numericOutExchangeFW {
	@include elemLeft(300);
}
#SfMP171_ContentModuleXCHG_SfMP171_numericOutExchangeFW {
	@include elemAutoWidth(80);
}
#SfMP171_ContentModuleXCHG_SfMP171_numericOutExchangeFW {
		z-index: 5;
}
#SfMP171_ContentModuleXCHG_SfMP171_numericOutExchangeFW {
	input{
		color: rgba(255, 0, 0, 1);
	}
}
#SfMP171_ContentModuleXCHG_SfMP171_numericOutExchangeFW {
	span.breaseNumericOutput_unit{
		color: rgba(255, 0, 0, 1);
	}
}
#SfMP171_ContentModuleXCHG_SfMP171_numericOutExchangeNrSN {
	@include elemAutoHeight(30);
}
#SfMP171_ContentModuleXCHG_SfMP171_numericOutExchangeNrSN {
	@include elemTop(140);
}
#SfMP171_ContentModuleXCHG_SfMP171_numericOutExchangeNrSN {
	@include elemLeft(300);
}
#SfMP171_ContentModuleXCHG_SfMP171_numericOutExchangeNrSN {
	@include elemAutoWidth(80);
}
#SfMP171_ContentModuleXCHG_SfMP171_numericOutExchangeNrSN {
		z-index: 6;
}
