#SfMP171_contentBusyBrowseFiles_SfMP171_labelDisconnecting {
  top: 10px;
  position: absolute;
}

#SfMP171_contentBusyBrowseFiles_SfMP171_labelDisconnecting {
  left: 100px;
  position: absolute;
}

#SfMP171_contentBusyBrowseFiles_SfMP171_labelDisconnecting {
  width: 180px;
}

#SfMP171_contentBusyBrowseFiles_SfMP171_labelDisconnecting {
  height: 60px;
}

#SfMP171_contentBusyBrowseFiles_SfMP171_labelDisconnecting {
  z-index: 0;
}

#SfMP171_contentBusyBrowseFiles_SfMP171_labelDisconnecting {
  justify-content: flex-start;
  text-align: left;
  -ms-flex-align: center;
  align-items: center;
}

#SfMP171_contentBusyBrowseFiles_SfMP171_labelDisconnecting {
  font-size: 14px;
}

#SfMP171_contentBusyBrowseFiles_SfMP171_imageSearchingBrowseGIF {
  top: 20px;
  position: absolute;
}

#SfMP171_contentBusyBrowseFiles_SfMP171_imageSearchingBrowseGIF {
  left: 20px;
  position: absolute;
}

#SfMP171_contentBusyBrowseFiles_SfMP171_imageSearchingBrowseGIF {
  width: 40px;
}

#SfMP171_contentBusyBrowseFiles_SfMP171_imageSearchingBrowseGIF {
  height: 45px;
}

#SfMP171_contentBusyBrowseFiles_SfMP171_imageSearchingBrowseGIF {
  z-index: 1;
}
