@import "mixins.scss";
#LaserPageMain_GroupBox21 {
	@include elemTop(40);
}
#LaserPageMain_GroupBox21 {
	@include elemLeft(100);
}
#LaserPageMain_GroupBox21 {
	@include elemWidth(440);
}
#LaserPageMain_GroupBox21 {
	@include elemHeight(164);
}
#LaserPageMain_GroupBox21 {
		z-index: 0;
}
#LaserPageMain_GroupBox21 {
		background-color: rgba(255, 128, 128, 1);
}
#LaserPageMain_MomentaryPushButton21 {
	@include elemTop(63);
}
#LaserPageMain_MomentaryPushButton21 {
	@include elemLeft(239);
}
#LaserPageMain_MomentaryPushButton21 {
	@include elemAutoWidth(122);
}
#LaserPageMain_MomentaryPushButton21 {
	@include elemAutoHeight(60);
}
#LaserPageMain_MomentaryPushButton21 {
		z-index: 0;
}
#LaserPageMain_MomentaryPushButton26 {
	@include elemTop(63);
}
#LaserPageMain_MomentaryPushButton26 {
	@include elemLeft(79);
}
#LaserPageMain_MomentaryPushButton26 {
	@include elemAutoWidth(122);
}
#LaserPageMain_MomentaryPushButton26 {
	@include elemAutoHeight(60);
}
#LaserPageMain_MomentaryPushButton26 {
		z-index: 1;
}
#LaserPageMain_MomentaryPushButton22 {
	@include elemTop(220);
}
#LaserPageMain_MomentaryPushButton22 {
	@include elemLeft(160);
}
#LaserPageMain_MomentaryPushButton22 {
	@include elemAutoWidth(220);
}
#LaserPageMain_MomentaryPushButton22 {
	@include elemAutoHeight(60);
}
#LaserPageMain_MomentaryPushButton22 {
		z-index: 1;
}
#LaserPageMain_MomentaryPushButton23 {
	@include elemTop(300);
}
#LaserPageMain_MomentaryPushButton23 {
	@include elemLeft(160);
}
#LaserPageMain_MomentaryPushButton23 {
	@include elemAutoWidth(220);
}
#LaserPageMain_MomentaryPushButton23 {
	@include elemAutoHeight(60);
}
#LaserPageMain_MomentaryPushButton23 {
		z-index: 2;
}
