#LaserPageMain_GroupBox21 {
  top: 40px;
  position: absolute;
}

#LaserPageMain_GroupBox21 {
  left: 100px;
  position: absolute;
}

#LaserPageMain_GroupBox21 {
  width: 440px;
}

#LaserPageMain_GroupBox21 {
  height: 164px;
}

#LaserPageMain_GroupBox21 {
  z-index: 0;
}

#LaserPageMain_GroupBox21 {
  background-color: #ff8080;
}

#LaserPageMain_MomentaryPushButton21 {
  top: 63px;
  position: absolute;
}

#LaserPageMain_MomentaryPushButton21 {
  left: 239px;
  position: absolute;
}

#LaserPageMain_MomentaryPushButton21 {
  width: 122px;
}

#LaserPageMain_MomentaryPushButton21 {
  height: 60px;
}

#LaserPageMain_MomentaryPushButton21 {
  z-index: 0;
}

#LaserPageMain_MomentaryPushButton26 {
  top: 63px;
  position: absolute;
}

#LaserPageMain_MomentaryPushButton26 {
  left: 79px;
  position: absolute;
}

#LaserPageMain_MomentaryPushButton26 {
  width: 122px;
}

#LaserPageMain_MomentaryPushButton26 {
  height: 60px;
}

#LaserPageMain_MomentaryPushButton26 {
  z-index: 1;
}

#LaserPageMain_MomentaryPushButton22 {
  top: 220px;
  position: absolute;
}

#LaserPageMain_MomentaryPushButton22 {
  left: 160px;
  position: absolute;
}

#LaserPageMain_MomentaryPushButton22 {
  width: 220px;
}

#LaserPageMain_MomentaryPushButton22 {
  height: 60px;
}

#LaserPageMain_MomentaryPushButton22 {
  z-index: 1;
}

#LaserPageMain_MomentaryPushButton23 {
  top: 300px;
  position: absolute;
}

#LaserPageMain_MomentaryPushButton23 {
  left: 160px;
  position: absolute;
}

#LaserPageMain_MomentaryPushButton23 {
  width: 220px;
}

#LaserPageMain_MomentaryPushButton23 {
  height: 60px;
}

#LaserPageMain_MomentaryPushButton23 {
  z-index: 2;
}
