#SfMP171_contentBusyMsg_SfMP171_txtOutputBusyMsg {
  top: 20px;
  position: absolute;
}

#SfMP171_contentBusyMsg_SfMP171_txtOutputBusyMsg {
  left: 160px;
  position: absolute;
}

#SfMP171_contentBusyMsg_SfMP171_txtOutputBusyMsg {
  width: 280px;
}

#SfMP171_contentBusyMsg_SfMP171_txtOutputBusyMsg {
  height: 120px;
}

#SfMP171_contentBusyMsg_SfMP171_txtOutputBusyMsg {
  z-index: 0;
}

#SfMP171_contentBusyMsg_SfMP171_ImageBusyMsg {
  top: 40px;
  position: absolute;
}

#SfMP171_contentBusyMsg_SfMP171_ImageBusyMsg {
  left: 20px;
  position: absolute;
}

#SfMP171_contentBusyMsg_SfMP171_ImageBusyMsg {
  width: 130px;
}

#SfMP171_contentBusyMsg_SfMP171_ImageBusyMsg {
  height: 120px;
}

#SfMP171_contentBusyMsg_SfMP171_ImageBusyMsg {
  z-index: 1;
}

#SfMP171_contentBusyMsg_SfMP171_ImageBusyMsg {
  border-width: 0px;
}

#SfMP171_contentBusyMsg_SfMP171_PaperTransfer {
  top: 120px;
  position: absolute;
}

#SfMP171_contentBusyMsg_SfMP171_PaperTransfer {
  left: 180px;
  position: absolute;
}

#SfMP171_contentBusyMsg_SfMP171_PaperTransfer {
  width: 140px;
}

#SfMP171_contentBusyMsg_SfMP171_PaperTransfer {
  height: 30px;
}

#SfMP171_contentBusyMsg_SfMP171_PaperTransfer {
  z-index: 2;
}

#SfMP171_contentBusyMsg_SfMP171_PaperTransfer {
  border-width: 0px;
}
