div[data-brease-dialogId='SfMP193_dialogBusyBrowseFiles'] .breaseDialogWindowHeader div.innerHeader {
  justify-content: flex-start;
  text-align: left;
}

div[data-brease-dialogId='SfMP193_dialogBusyBrowseFiles'] .breaseWindowClose {
  display: none;
}
