<?xml version="1.0" encoding="utf-8"?>
<SnippetDefinition xmlns="http://www.br-automation.com/iat2014/snippet/runtime/v1">
  <Snippet id="SfMP13_snippetMessagebox_snippetFUBError_Msg" type="String" formatItem="SfMP137_{1}" />
</SnippetDefinition>